a.MXPLink:link,
a.MXPLink:link span {
  font-weight: normal;
  color: inherit;
  text-decoration: underline;
}

a.MXPLink:visited,
a.MXPLink:visited span {
  text-decoration: underline;
}

a.MXPLink:active,
a.MXPLink:active span {
  text-decoration: underline;
}

a.MXPLink:hover,
a.MXPLink:hover span {
  text-decoration: underline;
}

.view {
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  overflow-x: auto;
  text-align: left;
  white-space: pre;
  background-color: black;
  text-shadow: none;
  padding: 2px;
  position: absolute;
  z-index: 0;
}

#display {
  bottom: 32px;
  top: 0;
  left: 0;
  right: 0;
  font-family: "Courier New", Courier, monospace;
  overflow: hidden;
  text-align: left;
  font-size: 1em;
  white-space: pre;
  background-color: black;
  text-shadow: none;
  padding: 2px;
  position: absolute;
  z-index: 0;
}

.display-split-view {
  position: absolute;
  overflow: hidden;
  visibility: hidden;
  right: 17px;
  bottom: 0;
  left: 0;
  top: auto;
}

.display-split-bar {
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  background-color: #f5f5f5;
  z-index: 1000;
  display: none;
  border-top: 1px solid rgb(221, 221, 221);
  border-bottom: 1px solid rgb(221, 221, 221);
  cursor: ns-resize;
  box-sizing: border-box;
}

.display-split-bar:hover {
  background-color: #000;
  transition-delay: 1s;
}

.display-split-ghost-bar {
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  background-color: #000;
  z-index: 1000;
  cursor: ns-resize;
  box-sizing: border-box;
  opacity: 0.5;
}

::highlight(oiMUD-selection),
::selection,
.display:focus ::selection {
  background-color: Highlight;
  color: HighlightText;
}

::highlight(oiMUD-selection):window-inactive,
::selection:window-inactive,
.text-blur ::selection,
.display ::selection {
  background-color: #c6c1b7;
  color: black;
}
