#help-toolbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid #fff;
  box-shadow: inset 0 -1px 0 #ddd;
  padding-bottom: 4px;
}

#help-toolbar button {
  min-width: 26px;
}

#help-jump-menu {
  position: absolute;
  right: 12px;
  left: 108px;
  width: auto;
}

#help-display {
  position: absolute;
  top: 48px;
  left: 0;
  right: 0;
  bottom: 0;
}

#help-menu > .nav-item {
  width: 100%;
}

#help-menu a.nav-link .form-switch {
  display: none;
}

#help-menu .list-badge-button {
  display: none;
}

#help-history-menu {
  overflow: auto;
}

@media (orientation: landscape) and (max-width: 641px),
  (orientation: landscape) and (max-height: 480px),
  (orientation: portrait) and (max-width: 480px),
  (orientation: portrait) and (max-height: 641px) {
  .dialog[data-panel="left"] #help-menu .dropdown-menu {
    display: none;
  }

  .dialog[data-panel="left"] #help-menu a.nav-link i {
    display: none;
  }

  .dialog[data-panel="left"] #help-menu a.nav-link .form-switch {
    display: block;
  }

  .dialog[data-panel="left"] #help-menu a.nav-link span {
    display: none;
  }

  .dialog[data-panel="left"] #help-menu .list-badge-button,
  .dialog[data-panel="left"] #help-menu .list-badge-button i {
    display: inline-block !important;
  }
}
