#left-sidebar {
  position: absolute;
  cursor: default;
  box-sizing: border-box;
  background-color: var(--theme-bg-color);
  color: var(--theme-color) !important;
  width: 184px;
  text-align: center;
  top: 0px;
  left: 0px;
  bottom: 0px;
  padding: 2px;
  z-index: 1;
  overflow: auto;
  border: 3px solid rgb(108, 117, 125);
  border-image: var(--theme-border-image) 3 repeat;
  border-right-width: 0;
}

@media (orientation: landscape) and (max-width: 641px),
  (orientation: landscape) and (max-height: 480px),
  (orientation: portrait) and (max-width: 480px),
  (orientation: portrait) and (max-height: 641px) {
  #left-sidebar {
    /*
      display: none !important;
      visibility: hidden !important;
      */
    right: 0;
    width: auto !important;
    border-right-width: 3px;
  }
  #client-container {
    right: 0 !important;
  }

  #left-sidebar-close {
    display: block !important;
  }
}

#mini-map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 204px;
  border-bottom: 3px solid rgb(108, 117, 125);
  border-image: var(--theme-border-image) 3 repeat;
  background-color: rgb(255 0 0 / 50%);
}

.mini-map {
}

.mini-map .map-canvas {
  border: 0px;
}

#chat-sidebar-container {
  position: absolute;
  top: 204px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0 255 0 / 50%);
}

#left-sidebar-drag-bar {
  left: 184px;
  top: 0;
  height: initial;
  bottom: 0;
  transition: 0s all;
  background-color: transparent;
  height: 100%;
  width: 3px;
  cursor: ew-resize;
  position: absolute;
  z-index: 10;
}

#left-sidebar-drag-bar:hover {
  background-color: var(--theme-hover-bg-color);
  transition-delay: 1s;
  border-right: 1px solid var(--theme-hover-border-color);
  border-left: 1px solid var(--theme-hover-border-color);
}

#left-sidebar .splitter-panel {
  background-color: var(--theme-bg-color);
}

#left-sidebar-splitter-drag-bar {
  transition: 0s all;
  background-color: var(--theme-border-color);
  background-repeat: repeat-x;
  border-top: 1px solid #856a45;
  border-bottom: 1px solid #a68555;
}

#left-sidebar-splitter-drag-bar:hover {
  background-color: var(--theme-hover-bg-color);
  transition-delay: 1s;
  border-top: 1px solid var(--theme-hover-border-color);
  border-bottom: 1px solid var(--theme-hover-border-color);
}

#left-sidebar-splitter-ghost-bar {
  background-color: var(--theme-hover-bg-color);
  opacity: 0.75;
  border-top: 1px solid var(--theme-hover-border-color);
  border-bottom: 1px solid var(--theme-hover-border-color);
}

#left-sidebar-ghost-bar {
  width: 3px;
  background-color: var(--theme-hover-bg-color);
  opacity: 0.75;
  position: absolute;
  cursor: ew-resize;
  z-index: 999;
  border-right: 1px solid var(--theme-hover-border-color);
  border-left: 1px solid var(--theme-hover-border-color);  
}

#left-sidebar-close {
  position: absolute;
  right: 6px;
  top: 6px;
  z-index: 6;
  display: none;
}

#left-sidebar:hover #left-sidebar-close {
  display: block;
}
