#panel-bar-close {
  left: 0;
  top: 0;
  border-width: 0;
  border-right: 3px solid;
  height: 15px;
  width: 16px;
  opacity: 1;
}

#panel-bar-close:hover {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
}

#panel-bar-close:focus {
  box-shadow: none;
}

#panel-bar:hover #status-close {
  display: block;
}

#panel-bar-chat-toolbar {
  border-bottom: 3px solid var(--theme-border-color);
  border-image: var(--theme-border-image) 3 repeat;
  background-color: var(--theme-bg-color);
  padding: 0;
  display: none;
}

#panel-bar-splitter-panel2:hover #panel-bar-chat-toolbar {
  display: block;
}

#panel-bar-chat-toolbar button {
  min-width: 26px;
  border-width: 0;
  border-right: 3px solid;
  margin: 0;
  margin-right: 0 !important;
  margin-left: 0 !important;
  padding: 0;
  height: 23px;
}

#panel-bar-chat-toolbar form {
  margin: 0;
  padding: 0;
}

#panel-bar-chat-toolbar .vr {
  display: none;
}

#mini-map-title {
  background-color: var(--theme-bg-secondary-color);
  border-bottom: 3px solid var(--theme-border-color);
  border-image: var(--theme-border-image) 3;
}

#mini-map-zoom::-webkit-slider-thumb {
  background-color: var(--theme-button-bg-color);
  border: 1px solid var(--theme-bg-secondary-border);
}

#mini-map-zoom::-webkit-slider-thumb:hover {
  -webkit-appearance: none;
  background-color: var(--theme-hover-bg-color);
  border: 1px solid var(--theme-hover-border-color);
}

#mini-map-zoom::-webkit-slider-thumb:active {
  -webkit-appearance: none;
  background-color: var(--theme-active-bg-color);
  border: 1px solid var(--theme-border-color);
  outline: none;
}

#mini-map-zoom:focus::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: var(--theme-active-bg-color);
  border: 1px solid var(--theme-border-color);
  outline: none;
}

#mini-map-zoom:focus::-webkit-slider-thumb:focus {
  -webkit-appearance: none;
  background-color: var(--theme-active-bg-color);
  border: 1px solid var(--theme-border-color);
  outline: none;
}

#mini-map-zoom::-webkit-slider-runnable-track {
  background-color: var(--theme-bg-secondary-color);
}

#mini-map-zoom::-moz-range-thumb {
  background-color: var(--theme-button-bg-color);
  border: 1px solid var(--theme-bg-secondary-border);
}

#mini-map-zoom::-moz-range-thumb:hover {
  background-color: var(--theme-hover-bg-color);
  border: 1px solid var(--theme-hover-border-color);
  outline: none;
}

#mini-map-zoom::-moz-range-thumb:active {
  background-color: var(--theme-active-bg-color);
  border: 1px solid var(--theme-border-color);
  outline: none;
}

#mini-map-zoom::-moz-range-thumb:focus {
  background-color: var(--theme-active-bg-color);
  border: 1px solid var(--theme-border-color);
  outline: none;
}

#mini-map-zoom:focus::-moz-range-thumb:focus {
  background-color: var(--theme-active-bg-color);
  border: 1px solid var(--theme-border-color);
  outline: none;
}

#mini-map-zoom::-moz-range-track {
  background-color: var(--theme-bg-secondary-color);
}
