.scroll-track {
  width: 12px;
  height: 12px;
  background-color: Scrollbar;
  box-sizing: border-box;
  z-index: 1001;
  cursor: default;
}

.scroll-thumb {
  background-color: ButtonFace;
  box-sizing: border-box;
  border-top: 1px solid ButtonHighlight;
  border-left: 1px solid ButtonHighlight;
  border-right: 1px solid ButtonShadow;
  border-bottom: 1px solid ButtonShadow;
  z-index: 2000;
  cursor: default;
  filter: brightness(95%);
}

.scroll-thumb:hover {
  filter: brightness(85%);
}

.scroll-thumb:active {
  filter: brightness(65%);
}

.scroll-corner {
  position: absolute;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  background-color: Scrollbar;
  z-index: 1000;
  cursor: default;
  font-family: "Courier New", monospace;
}

.scroll-split-button {
  font-size: 9px;
  text-align: center;
  background-color: ButtonFace !important;
  color: ButtonText;
  box-sizing: border-box;
  border-top: 1px solid ButtonHighlight;
  border-left: 1px solid ButtonHighlight;
  border-right: 1px solid ButtonShadow;
  border-bottom: 1px solid ButtonShadow;
  z-index: 2000;
  cursor: default;
}

.scroll-split-button.active:active {
  font-size: 9px;
  text-align: center;
  background-color: ButtonFace !important;
  color: ButtonText;
  box-sizing: border-box;
  border-top: 1px solid ButtonShadow;
  border-left: 1px solid ButtonShadow;
  border-right: 1px solid ButtonHighlight;
  border-bottom: 1px solid ButtonHighlight;
  z-index: 2000;
  cursor: default;
}

.scroll-split-button.disabled {
  color: GrayText;
  cursor: default;
}

.scroll-split-button.active {
  background-color: ThreeDShadow !important;
  color: ButtonText;
  border-top: 1px solid ButtonShadow;
  border-left: 1px solid ButtonShadow;
  border-right: 1px solid ButtonHighlight;
  border-bottom: 1px solid ButtonHighlight;
}

.scroll-split-button i {
  top: 1px;
  position: relative;
}

.scroll-horizontal {
  border-top: 1px solid ButtonHighlight;
  cursor: default;
}

.scroll-vertical {
  border-left: 1px solid ButtonHighlight;
  cursor: default;
}

.scroll-disabled .scroll-thumb,
.scroll-disabled .scroll-thumb:hover,
.scroll-disabled .scroll-thumb:active {
  display: none;
  cursor: default;
}

.scroll-button {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 0;
  padding: 0;  
  font-size: 10px;
  text-align: center;
}

.scroll-horizontal .scroll-up-button {
  left: 0px;
  bottom: 0;
}

.scroll-horizontal .scroll-down-button {
  right: 12px;
  bottom: 0;
}

.scroll-horizontal .scroll-bottom-button {
  right: 0;
  bottom: 0;
}

.scroll-vertical .scroll-up-button {
  top: 0px;
  left: 0;
}

.scroll-vertical .scroll-down-button {
  bottom: 12px;
  left: 0;
}

.scroll-vertical .scroll-bottom-button {
  bottom: 0;
  left: 0;
}
