.scroll-track,
.scroll-corner {
  background: var(--theme-bg-secondary-color);
  color: black;
}

.scroll-thumb {
  background: var(--theme-button-bg-color);
  border: 1px solid var(--theme-bg-secondary-border);
  filter: none;
  border-radius: 10px;
}

.scroll-thumb:hover {
  background: var(--theme-hover-bg-color);
  border: 1px solid var(--theme-hover-border-color);
}

.scroll-thumb:active {
  background-color: var(--theme-active-bg-color);
  border: 1px solid var(--theme-border-color);
  outline: none;
}

.scroll-horizontal {
  border-top: 1px solid var(--theme-border-color);
}

.scroll-vertical {
  border-left: 1px solid var(--theme-border-color);
}

.scroll-horizontal .scroll-thumb {
  top: 1px !important;
  bottom: 1px !important;
  height: auto !important;
}
.scroll-vertical .scroll-thumb {
  left: 1px !important;
  right: 1px !important;
  width: auto !important;
}

.scroll-track.scroll-auto-hide {
  background: transparent;
  display: none;
}

.scroll-track.scroll-auto-hide:hover {
  background: var(--theme-bg-secondary-color);
}

.scroll-horizontal.scroll-auto-hide .scroll-thumb {
  top: 50% !important;
}

.scroll-horizontal.scroll-auto-hide {
  border-top: 0;
}

.scroll-vertical.scroll-auto-hide {
  border-left: 0;
}

.scroll-horizontal.scroll-auto-hide:hover {
    border-top: 1px solid var(--theme-border-color);
  }
  
  .scroll-vertical.scroll-auto-hide:hover {
    border-left: 1px solid var(--theme-border-color);
  }

.scroll-vertical.scroll-auto-hide .scroll-thumb {
  left: 50% !important;
}

.scroll-horizontal.scroll-auto-hide:hover .scroll-thumb {
  top: 1px !important;
}

.scroll-vertical.scroll-auto-hide:hover .scroll-thumb {
  left: 1px !important;
}

.display:hover .scroll-track.scroll-auto-hide {
    display: block;
}