/**
    overall theme overrides to override defaults
*/
:root {
  --theme-bg-color: #d5cdbc; /* Available to all elements */
  --theme-color: black;
  --theme-bg-secondary-color: #fbecd3;
  --theme-bg-secondary-border: #ad5f00;
  --theme-border-image: url(../../assets/border.png);
  --theme-border-middle-image: url(../../assets/border-middle.png);
  --theme-border-color: #ebbb74;
  --theme-hover-color: #fff;
  --theme-hover-bg-color: #7da7d9;
  --theme-hover-border-color: #5e7da3;
  --theme-active-color: #fff;
  --theme-active-bg-color: #e9ad04;
  --theme-button-color: #000;
  --theme-button-bg-color: #d3b6a0;
}

#display,
#client-container,
#command-input-container .btn,
#command-input-container textarea {
  border-image: var(--theme-border-image) 3 repeat !important;
}

#client-container {
  border: 3px solid;
}

#display {
  bottom: 26px;
  border-bottom: 3px solid;
}

#command-input-container {
  background-color: var(--theme-bg-color) !important;
  color: var(--theme-color) !important;
  height: 26px;
  min-height: 26px;
}

#command-input-group {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#command-input-container .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#btn-command-history {
  border-right: 0px !important;
}

#commandInput:focus {
  outline: none;
  box-shadow: none;
}

#commandInput {
  background-color: var(--theme-bg-secondary-color);
  color: var(--theme-color);
}

.button,
#command-input-container .btn {
  background-color: var(--theme-button-bg-color);
  color: var(--theme-button-color);
  fill: var(--theme-button-color);
  padding: 4px 7px;
  z-index: 1;
  border: 3px solid var(--theme-bg-secondary-border);
  border-image: var(--theme-border-image) 3 repeat;
  border-radius: 0px;
}

.button:hover,
#command-input-container .btn:hover {
  background-color: var(--theme-hover-bg-color);
  color: var(--theme-hover-color);
  fill: var(--theme-hover-color);
}

.button:active,
#command-input-container .btn-check:checked + .btn,
#command-input-container .btn.active,
#command-input-container .btn.show,
#command-input-container .btn:first-child:active,
#command-input-container :not(.btn-check) + .btn:active {
  background-color: var(--theme-active-bg-color);
  color: var(--theme-active-color);
  fill: var(--theme-active-color);
}

.button.active,
#command-input-container .btn.active {
  background-color: var(--theme-active-bg-color);
  color: var(--theme-active-color);
  fill: var(--theme-active-color);
}

.button.active:hover,
#command-input-container .btn.active:hover {
  background-color: var(--theme-hover-bg-color);
  color: var(--theme-hover-color);
  fill: var(--theme-hover-color);
}

.button.active:active,
#command-input-container .btn.active:active {
  background-color: var(--theme-button-bg-color);
  color: var(--theme-button-color);
  fill: var(--theme-button-color);
  padding: 4px 7px;
  z-index: 1;
  border: 3px solid var(--theme-bg-secondary-border);
  border-image: var(--theme-border-image) 3 repeat;
}

#command-input-container .btn,
#command-input-container textarea {
  border: 0;
  border-right: 3px solid;
}

#command-input-container .btn:hover .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
